---
import SettingsLayout from "../../layouts/SettingsLayout.astro";
import ModuleSettingsCard from "../../components/settings/ModuleSettingsCard.astro";
import { MODULE_KEYS } from "../../lib/constants/module-keys";
import { getAppContext } from "../../lib/utils/app-context";
import { requireLandlordSession } from "../../lib/auth/guards";

const activeModules = [
  MODULE_KEYS.HAUSVERWALTUNG,
  MODULE_KEYS.SONDEREIGENTUM,
];

const session = await requireLandlordSession(Astro);

if (session instanceof Response) {
  return session;
}

const appContext = await getAppContext(session);
---

<SettingsLayout
  title="Module | ImmobilienPro"
  organizationName={appContext.organizationName}
  activeModules={activeModules}
  theme={appContext.theme}
>
  <div class="stack">
    <div class="section__header">
      <span class="section__eyebrow">Module</span>
      <h1>Module verwalten</h1>
      <p>
        Sieh dir aktive Module an, prüfe verfügbare Erweiterungen und plane dein
        weiteres Setup.
      </p>
    </div>

    <ModuleSettingsCard activeModules={activeModules} />
  </div>
</SettingsLayout>